@model Product

<h3 class="p-2 bg-primary text-white text-center">Редактировать товар</h3>

<form asp-action="UpdateProduct" method="post">

    <div class="form-group">
        <label asp-for="ProductId"></label>
        <input asp-for="ProductId" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Category"></label>
        <select class="form-control" asp-for="CategoryId">
            @if (Model.ProductId == default(Guid))
            {
                <option disabled selected>Выберите категорию товара</option>
            }
            @foreach (var category in ViewBag.Categories)
            {
                <option selected="@(Model.Category?.CategoryId == category.CategoryId)" value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="PurchasePrice"></label>
        <input asp-for="PurchasePrice" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RetailPrice"></label>
        <input asp-for="RetailPrice" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отменить</a>
    </div>

</form>